h3 {
    color: #076889;
    font-size: 3rem;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    text-justify: distribute;
}

@media (min-width: 1500px) {
    h3 {
        margin: 2%;
    }
}

@media (min-width: 2200px) {
    h3 {
        margin-top: 100px;
    }
}

@media (min-width: 2400px) {
    h3 {
        margin-top: 200px;
    }
}

@media (min-width: 2600px) {
    h3 {
        margin-top: 300px;
    }
}

@media (min-width: 3000px) {
    h3 {
        margin-top: 400px;
    }
}

.button {
    margin: 2%;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    background-color: #08698a;
    padding: 10px;
    width: auto;
}

.button:hover {
    background-color: #8eb9eb;
    color: #08698a;
}

.wrapper {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column img {
    margin-bottom: 40px;
    margin-top: 40px;
}

.schema {
    max-width: 100%;
}